<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Error 404</title>
</head>
<body class="body-404">
    <div class="error-404">
        <center>
            <h1>¡¡¡Error - página no encontrada!!!</h1>
            <br>
            <h2>La página solicitada no ha sido encontrada o esta en construcción</h2>
            <img src="..\static\css\img\404.gif" width="1328" height="420" />
        </center>
    </div>
</body>
</html>
